
name: dbt-sqlite

on: [push]

jobs:
  build:
    strategy:
      matrix:
        python_version: [3.8, 3.9, 3.10]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build docker image
        run: docker build --build-arg PYTHON_VERSION=${{ matrix.python_version }}  --tag dbt-sqlite:$GITHUB_SHA .
      - name: Run tests
        run: docker run dbt-sqlite:$GITHUB_SHA run_tests.sh
